* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#title {

    background-color: rgb(14, 14, 82);
    color: white;

}

.mininfo {

    display: flex;
    flex-direction: column;

}